<!-- 我的预约 -->
<div class="container">
<div class="row">
	<div class="col-lg-2">
   {{>list-group}}
	</div>
	<div class="col-lg-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">预约信息</h4>
      </div>
      <div class="panel-body">
      	<table class="table table-striped">
						<thead>
							<tr>
								<th>索书号</th>
								<th>书名</th>
								<th>责任者</th>
								<th>馆藏地</th>
								<th>失效时间</th>
                <th>状态</th>
                <th>取消预约</th>
							</tr>
						</thead>
						<tbody>
							{{#each books}}
							<tr>
								<td>{{callNumber}}</td>
								<td>{{title}}</td>
								<td>{{author}}</td>
								<td>{{address}}</td>
								<td>{{deadline}}</td>
                <td>{{state}}</td>
                <td><a href="/mylib/cancal?isbn={{isbn}}">取消预约</a></td>
							</tr>
							{{/each}}
						</tbody>
					</table>
      </div>
    </div>
	</div>
</div>
<!-- footer -->
<div class="footer">
    <p>© Company 2016</p>
</div>
</div>